<% if @post.errors.any? %>
    <ul>
      <%= @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
<%= form_for @post do |f| %>
    <div>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>

    <div>
      <%= f.label :title %>
    </div>
    <div>
      <%= f.text_field :title, placeholder: '제목을 입력해줘' %>
    </div>
    <br />

    <div class="row">
      <section class="4u 12u(mobile)">
        <div>
          <%= f.label :price %>
        </div>
        <div>
          <%= f.text_field :price, placeholder: '숫자로만 부탁해' %>
        </div>
      </section>

      <section class="4u 12u(mobile)">
        <div>
          <%= f.label :category %>
        </div>
        <div>
          <%= f.select(:category, [['의류', '의류'], ['화장품', '화장품'], ['서적', '서적'], ['쿠폰/티켓', '쿠폰/티켓'], ['기타', '기타']]) %>
        </div>
      </section>

      <section class="4u 12u(mobile)">
        <div>
          <%= f.label :contact %>
        </div>
        <div>
          <%= f.text_field :contact, placeholder: '보안생각해서 입력해줘' %>
        </div>
      </section>
    </div>
    <br />

    <div>
      <%= f.label :detail %>
    </div>
    <div>
      <%= f.cktext_area :detail, rows: 10 %>
    </div>
    <br />

    <div>
      <%= f.label :image, "Title Image" %>
    </div>
    <div>
      <%= f.file_field :image %>
    </div>
    <br/>

    <div>
      <%= f.submit '글쓰기!', data: { confirm: '정말로 쓸까?', disable_with: '처리 중...'} %>
    </div>
<% end %>