<div class="homepage">
  <!-- Header -->
  <div id="header">

    <!-- Inner -->
    <div class="inner">
      <header>
        <h1>SG Market</h1>
        <hr />
        <p>서강의 중고거래 온라인샵</p>
      </header>
      <footer>
        <a href="#banner" class="button circled scrolly special">GO!</a>
      </footer>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Shop</a>
          <ul>
            <li><%= link_to "의류", clothes_path %></li>
            <li><%= link_to "화장품", cosmetic_path %></li>
            <li><%= link_to "서적", book_path %></li>
            <li><%= link_to "쿠폰/티켓", coupon_path %></li>
            <li><%= link_to "기타", etc_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <li><%= link_to "Upload", new_post_path %></li>
            <li><%= link_to "My Page", mypage_path, method: :get %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "잘가 또만나" } %></li>
        <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>안녕! 새로 올라온 물건이 많아!</h2>
    <p>개강시즌 고생이 많은 너를 위해 준비했어</p>
  </header>
</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">
    <% @posts.each do |x| %>
	<% unless x.done? %>
    	<article>

      	<!-- assets/pic01.jpg >> <#%= x.image %>로 수정-->
      	<!-- @author: JH-->
      	<a class="image featured"><img src="<%= x.image %>" alt="" height="250" width="300"/></a>
      	<header>
        	<h3><%= link_to x.title.html_safe, post_path(x.id), method: :get %></h3>
      	</header>
      	<p>#<%= x.category %> | <%= x.price %>원</p>
    	</article>
	<% end %>
    <% end %>
  </div>
</section>
  <hr />
</div>
