<div class="homepage">
  <!-- Header -->
  <div id="header">

    <!-- Inner -->
    <div class="inner">
      <header>
        <h1>SG Market</h1>
        <hr />
        <p>서강인의 장터, 슥마켓</p>
      </header>
      <footer>
        <a href="#banner" class="button circled scrolly">Start</a>
      </footer>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Shop</a>
          <ul>
            <li><%= link_to "의류", clothes_path %></li>
            <li><%= link_to "화장품", cosmetic_path %></li>
            <li><%= link_to "서적", book_path %></li>
            <li><%= link_to "쿠폰/티켓", coupon_path %></li>
            <li><%= link_to "기타", etc_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <li><%= link_to "Upload", new_post_path %></li>
            <li><%= link_to "My Page", mypage_path, method: :get %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "잘가 또만나" } %></li>
        <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

<!-- Banner -->
<section id="banner">
  <header>
    <h2>안녕! 새로 올라온 물건들이 많아!</h2>
    <p>돈없는데 알바할시간은 없고 그러면 슥마켓</p>
  </header>
</section>

<!-- Carousel -->
<section class="carousel">
  <div class="reel">
    <% @posts.each do |x| %>
    <article>
      
      <!-- assets/pic01.jpg >> <#%= x.image %>로 수정-->
      <!-- @author: JH-->
      <a class="image featured"><img src="<%= x.image %>" alt="" height="250" width="300"/></a>
      <header>
        <h3><%= link_to x.title.html_safe, post_path(x.id), method: :get %></h3>
      </header>
      <p>#<%= x.category %></p>
      <p><%= truncate(x.detail.html_safe, length: 25) %></p>
    </article>
    <% end %>
  </div>
</section>
  <hr />
</div>