<!-- Header -->
<div id="header">

  <!-- Inner -->
  <div class="inner">
    <header>
      <h1>마이페이지</h1>
    </header>
  </div>

  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li>
        <a>Shop</a>
        <ul>
          <li><%= link_to "의류", clothes_path %></li>
          <li><%= link_to "화장품", cosmetic_path %></li>
          <li><%= link_to "서적", book_path %></li>
          <li><%= link_to "쿠폰/티켓", coupon_path %></li>
          <li><%= link_to "기타", etc_path %></li>
        </ul>
      </li>
      <% if user_signed_in? %>
          <li><%= link_to "Upload", new_post_path %></li>
          <li><%= link_to "My Page", mypage_path, method: :get %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "잘가 또만나" } %></li>
      <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="wrapper style1">
  <div class="container">
  <div class="row">
    <section class="6u 12u(mobile)">
      <article id="main" class="special">
        <h3 style="text-align: center; padding-bottom: 2em">내가 올린 글</h3>
        <div class="table-wrapper">
          <table>
            <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Like</th>
              <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <% @post.each do |x| %>
                <% if x.user_id == current_user.id %>
                    <tr>
                      <td><%= link_to x.title.html_safe, post_path(x.id), method: :get %>(<%= x.comments.count %>)</td>
                      <td><%= x.created_at.in_time_zone("Asia/Seoul").strftime("%Y.%m.%d") %></td>
                      <td><%= x.votes_for.size %></td>
                      <td>
                        <% if x.done? %>
                            <%= "판매완료" %>
                        <% else %>
                            <%= "판매중" %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </article>
    </section>
    <section class="6u 12u(mobile)">
      <article id="main" class="special">
        <h3 style="text-align: center; padding-bottom: 2em">찜 목록</h3>
        <div class="table-wrapper">
          <table>
            <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <% @posts.each do |y| %>
              <% y.votes_for.up.by_type(User).voters.each do |z| %>
                <% if z == @user %>
                  <tr>
                    <td><%= link_to y.title.html_safe, post_path(y.id), method: :get %></td>
                    <td><%= y.created_at.in_time_zone("Asia/Seoul").strftime("%Y.%m.%d") %></td>
                    <td>
                      <% if y.done? %>
                        <%= "판매완료" %>
                      <% else %>
                        <%= "판매중" %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            <% end %>
            </tbody>
          </table>
        </div>
      </article>
    </section>
  </div>
  </div>
</div>