<div id="page-wrapper">
  <!-- Header -->
  <div id="header">

    <!-- Inner -->
    <div class="inner">
      <header>
        <h1>상세보기</h1>
      </header>
    </div>

    <!-- Nav -->
    <nav id="nav">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>
          <a>Shop</a>
          <ul>
            <li><%= link_to "의류", clothes_path %></li>
            <li><%= link_to "화장품", cosmetic_path %></li>
            <li><%= link_to "서적", book_path %></li>
            <li><%= link_to "쿠폰/티켓", coupon_path %></li>
            <li><%= link_to "기타", etc_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <li><%= link_to "Upload", new_post_path %></li>
            <li><%= link_to "My Page", mypage_path, method: :get %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "잘가 또만나" } %></li>
        <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <!-- Main -->
  <div class="wrapper style1">

    <div class="container">
      <article id="main" class="special">
        <header>
          <h2><%= @post.title %></h2>
          <span><%= @post.created_at.in_time_zone("Asia/Seoul").strftime("%Y.%m.%d") %></span>
          <p>#<%= @post.category %> | <%= @post.price %>원</p>
        </header>

        <!-- @post.image_url >> @post.image로 수정-->
        <!-- @author: JH-->
        <%#= image_tag @post.image, class: "image featured" %>

        <section>
          <%= @post.detail.html_safe %>
        </section>
      </article>
      <% if user_signed_in? %>
            <p>연락처: <%= @post.contact.html_safe %></p>

            <%= link_to like_link_path(@post), method: :put, :class => 'button icon fa-thumbs-o-up' do %>
                like
                <%= @post.get_upvotes.size %>
            <% end %>
            <% @post.votes_for.up.by_type(User).voters.each do |z| %>
                <% if z == @user %>
                    <%= link_to dislike_link_path(@post), method: :put, :class => 'button icon fa-thumbs-o-down' do %>
                        Dislike
                    <% end %>
                <% end %>
            <% end %>

          <hr />
          <article id="main" class="special">
            <section>
              <header>
                <h3>댓글쓰기</h3>
              </header>
            </section>
            <section>
              <form action="/write_comment" method="post">
                <input type="hidden" name="post_id" value="<%= @post.id %>">
                <input type="hidden" name="user_id" value="<%= @post.user.id %>">
                <textarea name="comment" placeholder="댓글달아줘" rows="1" cols="40"></textarea>
                <ul class="actions">
                  <li><input type="submit" value="입력" class="special" /></li>
                </ul>
              </form>
              <% unless @post.comments.empty? %>
                  <section style="padding-top: 2em">
                    <ul class="divided">
                      <% @post.comments.each do |c| %>
                          <li>
                            <article class="post stub">
                          <li><p><%= c.user.email %> "<%= c.content %>"
                            <% if user_signed_in? && current_user.id == c.user_id %>
                                <a href="/delete_comment/<%=c.id%>">[x]</a>
                            <% end %></p>
                          </li>
                      </article>
                      </li>
                  <% end %>
                  </>
                  </section>
              <% end %>
            </section>
            </article>
      <% end %>
      <hr/>
      <ul class="actions">
        <li><%= link_to "뒤로", :back, class: 'button special icon fa-chevron-left' %></li>
        <% if user_signed_in? && @post.user.email == current_user.email %>
            <li><%= link_to "수정하기", edit_post_path(@post.id), class: 'button icon fa-pencil-square-o' %></li>
            <li><%= link_to "삭제하기", @post, method: :delete, data: { confirm: "진짜 삭제할까요?" }, class: 'button icon fa-trash-o' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>