<!DOCTYPE html>
<html>
  <head>
    <title>SG Market</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.dropotron.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.scrolly.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery.onvisible.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'skel.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'util', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= yield %>

      <div id="footer">
        <div class="container">
          <div class="row">
            <div class="12u">
              <!-- Copyright -->
              <div class="copyright">
                <ul class="menu">
                  <li>&copy; 2017 SG Market. All rights reserved.</li>
                  <li>LIKELION@Sogang Univ.</li>
                </ul>
                <ul class="menu">
                  <li>창립멤버: 강보경 김윤성 이찬하</li>
                  <li>운영: 이찬하 박정현</li>
                  <li>개발: 이지윤</li>
                </ul>
              </div>

            </div>

          </div>
        </div>
      </div>
  </body>
</html>
